---
title: "CoinTab"
layout: default
pagination: true
enabled: true
---

    <header class="header header_style1" style="height: 0;padding: 0;overflow: hidden;">
       <div class="container">
          <div class="row">
             <div class="col-md-9 col-lg-10">
                <div class="logo"><a href="index.html"><img height="54" src="{{site.logo}}" alt="#"></a></div>
                <div class="main_menu float-right">
                </div>
             </div>
             <div class="col-md-3 col-lg-2">
                <!-- <div class="right_bt"><a class="bt_main" href="index.html">Get Support</a> </div> -->
             </div>
          </div>
       </div>
    </header>
    <section id="banner_parallax" class="slide_banner1" style="background-image: url({{site.baseurl}}/assets/images/slide1.png);">
       <div class="container">
          <div class="row">
             <div class="col-md-6">
                <div class="full">
                   <div class="slide_cont">
                      <h2 style="margin-top: 100px;">CoinTab</h2>
                      <p>A personalized new tab page for cryptocurrency enthusiasts, free to add markets, websites, HD wallpapers, provide profit analysis and early warnings, and help you keep abreast of market changes</p>
                      <div class="full slide_bt"> <a class="white_bt bt_main" href="index.html">Download</a> </div>
                   </div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="full">
                   <div class="slide_pc_img wow fadeInRight" data-wow-delay="1s" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeInRight;"> 
                     <img class="banner-img" src="{{site.baseurl}}/assets/images/banner.png">
                     <img src="{{site.baseurl}}/assets/images/pc-banner.png" alt="#">
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <!-- end header -->
    <!-- section -->
    <section class="layout_padding padding_top_0">
       <div class="container">
          <div class="row margin_bottom_30">
             <!-- featured cont -->
             <div class="col-md-6 cont_theme_blog">
                <div class="full">
                   <h3>A new tab page</h3>
                   <p>It redefines your Chrome new tab page. Compared to the new tab page that comes with Chrome the new tab page is no longer a blank search, but contains many useful functions. an exclusive tab page for encrypted asset lovers. Make encrypted assets more warm.</p>
                </div>
             </div>
             <!-- end featured cont -->
             <!-- featured image -->
             <div class="col-md-6 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInRight;">
                <div class="full">
                   <div class="center"><img height="256" src="{{site.baseurl}}/assets/images/tab.svg" alt="#"></div>
                </div>
             </div>
             <!-- end featured image -->
          </div>
          <div class="row margin_bottom_30">
             <!-- featured image -->
             <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.5" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInLeft;">
                <div class="full">
                   <div class="center"><img height="256" src="{{site.baseurl}}/assets/images/professional.svg" alt="#"></div>
                </div>
             </div>
             <!-- end featured image -->
             <!-- featured cont -->
             <div class="col-md-6 cont_theme_blog">
                <div class="full">
                   <h3>Very professional</h3>
                   <p>You can view the markets of multiple exchanges in real time, and compare transaction data conveniently. You can add market alerts to keep abreast of market trends. You can add profit and loss analysis to grasp investment information at any time. You can also add favorite sites</p>
                </div>
             </div>
             <!-- end featured cont -->
          </div>
          <div class="row margin_bottom_30">
             <!-- featured cont -->
             <div class="col-md-6 cont_theme_blog">
                <div class="full">
                   <h3>Beautiful and easy to use</h3>
                   <p>You can change the wallpaper at any time, set the transparency and blur of the wallpaper, and make the APP more suitable for your aesthetics. You can also do various humanized settings to make the APP more suitable for your habits</p>
                </div>
             </div>
             <!-- end featured cont -->
             <!-- featured image -->
             <div class="col-md-6 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInRight;">
                <div class="full">
                   <div class="center"><img height="256" src="{{site.baseurl}}/assets/images/design.svg" alt="#"></div>
                </div>
             </div>
             <!-- end featured image -->
          </div>
       </div>
    </section>
    <!-- end section -->
    <!-- section -->
    <section class="layout_padding gradiant_bg cross_layout">
       <div class="container">
          <div class="row">
             <div class="col-md-4">
                <div class="information_blogs">
                   <div class="imf_icon"><img src="{{site.baseurl}}/assets/images/market.svg?t=1" alt="#"></div>
                   <div class="imf_head">
                      <h3>Awesome Market</h3>
                   </div>
                   <div class="imf_cont">
                      <p>Real-time data from multiple exchanges</p>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="information_blogs">
                   <div class="imf_icon"><img src="{{site.baseurl}}/assets/images/site.svg" alt="#"></div>
                   <div class="imf_head">
                      <h3>Sites</h3>
                   </div>
                   <div class="imf_cont">
                      <p>Add your favorite sites</p>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="information_blogs">
                   <div class="imf_icon"><img src="{{site.baseurl}}/assets/images/analysis.svg" alt="#"></div>
                   <div class="imf_head">
                      <h3>PNL Analysis</h3>
                   </div>
                   <div class="imf_cont">
                      <p>Grasp investment information</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>

<div class="s-content">
    <div class="masonry-wrap">
        <div class="masonry">
            <div class="grid-sizer"></div>
            {% for post in paginator.posts %}
            {% include article-index.html %}
            {% endfor %}
        </div>
    </div>

    {% if paginator.total_pages > 1 %}
    <div class="row">
        <div class="column large-full">
            <nav class="pgn">
                <ul>
                    {% if paginator.previous_page %}
                    <li><a class="pgn__prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a></li>
                    {% else %}
                    <li><span class="pgn__prev disabled">Prev</span></li>
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                    <li><span class="pgn__num current">{{page}}</span></li>
                    {% elsif page == 1 %}
                    <li><a class="pgn__num" href="{{site.baseurl}}">{{ page }}</a></li>
                    {% else %}
                    <li><a class="pgn__num" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                    <li><a class="pgn__next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a></li>
                    {% else %}
                    <li><span class="pgn__next disabled">Next</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>
