<!--  Don't edit anything here. Set your disqus id in _config.yml -->

<div id="comments" class="column large-12" style="padding: 60px 0 0 0;">
    <div id="samyoc_social"></div>
    <script type="text/javascript">
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            window.samyoc_theme_color = "#333333";
            dsq.src = location.protocol + '//www.samyoc.com/js/embed.js?t=19080908';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>
    Please enable JavaScript to view the comments powered by SamYoc.</a>
    </noscript>
</div>