<!-- All this area goes before </body> closing tag --> 
<footer style="padding: 40px 0;background-color: rgb(233, 235, 238);">
    <div  style="text-align: center;">
        <a target="_blank" href="https://github.com/aiyld/cointab_web/issues/new" data-bitapp="processed">
            <img src="{{site.baseurl}}/assets/images/icons/social/icon-github.svg" height="16" width="16">
            <span style="margin-left: 3px;text-decoration: underline;">Advice</span> </a>
        · <span>Designed by Winter</span>
    </div>
    <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
    </div>
</footer>