<!-- All this area goes before </body> closing tag --> 
<footer class="s-footer footer">
    <div class="row">
        <div class="column large-full footer__content">
            <div class="footer__copyright">
                <span><a target="_blank" href="https://github.com/aiyld/yldblog" data-bitapp="processed">
                    <img src="{{site.baseurl}}/assets/images/icons/social/icon-github.svg" height="16" width="16"></i> Fork on Github</a>
                </span>
                <span>Designed by YLD</span>
            </div>
        </div>
    </div>

    <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
    </div>
</footer>